.checkboxPai{
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 40px;
  height: 40px;
  margin-right: 0.75em;

  border: 2px solid #76b776;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#checkbox section {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

#checkbox span{
  font-size: 1.25em;
}

.marcado {
  background-color: #76b776;
}

i {
  color: white;
}

.display {
  display: block
}

.displayNone {
  display: none;
}