#radio {
  display: flex;
  flex-direction: column;

  font-size: 1.25em;

  margin-bottom: 32px;
}

#radio section{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#spanRadio1, #spanRadio2, #spanRadio3 {
  width: 0.75em;
  height: 0.75em;
  border: 1px solid white;
  border-radius: 50%;

  margin-left: 0.5em;
  margin-right: 0.25em;
  
  display: flex;
  align-self: center;
}